@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;500;700&family=Radio+Canada&family=Roboto&family=Ubuntu&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
* :after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
body {
  /* min-width: 1400px; */
  /* ограничиваем ширину чтобы ниже этой ширины контент не жемался */
  /* Фиксированная верстка */
}
.wraper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* media запросы или брейк-поинты при достижении определенной ширины 992 срабатывет брейк-поинт и ширина становиться на уровне 750 которое написано ниже */
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
    /* маленький манитор */
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
    /* контент на планшетах 992 */
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}
.head {
  background-color: black;
  min-width: 1500px;
  /* указываем значение min-width для того чтобы эта ширина была минимальной и уменьшить ее нельзя было */
  background-size: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  /* max-width: 1200px; */
}
.head__row {
  display: flex;
  justify-content: space-between;
}
.body {
}
.head__image {
  margin-right: 200px;
}
.head__list a {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  color: aliceblue;
  font-size: 20px;
}
.head__image,
.head__list li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 105px;
  /* обращение к двум тегам одновременно */
}
.head__list {
  display: inline-block;
  height: 80px;
}
.head__list li {
  color: aliceblue;
  font-size: 20px;
}
.head__list li:hover {
  color: gold;
}
.head__list a:hover {
  color: gold;
}
.table {
  display: flex;
  padding: 0 22px;
  /* flex-wrap: wrap; */
  padding-top: 29px;
  margin-right: 470px;
  height: 900px;
  /*.table-это блок где находятся все элементы он контролирует отступы высоту,ширину не трогая элементы контента  */

  /* margin или padding 0px переносят контент в ту часть котрою мы укажем например margin right 0 контент будет в правой части экрана */
}
.table__title {
  text-align: center;
  font-size: 20px;
  background-color: gold;
  height: 50px;
  width: 100%;
  color: black;
  padding-top: 10px;
}
.table__image img {
  width: 577px;
  margin-right: 0px;
  height: 500px;
  /* display: flex;
  padding: 0 22px;
  flex-wrap: wrap;
  padding-top: 29px; */
  /* width: 550px;
  text-align: center;
  height: 500px;
  padding-right: 10px;
  padding-left: 10px; */
}
.table__text {
}
.table__item {
  display: flex;
  flex-direction: column;

  color: #fff;
  border-radius: 5px;
  border: 12px solid black;
  padding: 0 0 20px 0;
  margin-left: 0px;
  width: 600px;
  height: 1100px;
  /* .table__item-элементы блока контента сдесь находиться весь контент блока  */
}
.table__name {
  color: black;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}

.table__group {
  color: black;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}
.table__bordername {
  border: 1px solid black;
  padding-top: 50px;
}
.table__borderworld {
  border: 1px solid black;
  padding-top: 25px;
}
.table__bordergroup {
  border: 1px solid black;
  padding-top: 25px;
}
.table__borderfriends {
  border: 1px solid black;
  padding-top: 0px;
}
.table__friendsli {
  color: gold;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  background-color: black;
}
.table__borderstatus {
  border: 1px solid black;
  padding-top: 15px;
}
.table__status {
  color: black;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}
.table__borderfirst {
  border: 1px solid black;
  padding-top: 15px;
}
.table__first {
  color: black;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}
.table__friendsli a {
  color: gold;
  padding-left: 30px;
}
.table__friendsliname {
  padding-left: 30px;
}
.table__friendsli a:hover {
  color: red;
}
.table__bordergroup a {
  color: black;
}
.table__group a a :hover {
  color: red;
}
.table__group:hover {
  color: red;
}
.table__group a:hover {
  color: red;
}
.table__row {
  display: flex;
}
.table__t {
  display: flex;

  min-width: 600px;
}
